1. Import library

In [35]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

2. Import data

In [36]:
df = pd.read_csv('../train.csv')
df.head()

,AccountID,Churn,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
0,30200,0,4,1.0,11.0,Debit Card,Female,3.0,6,Super,1.0,Single,5,0.0,23,2,3,187,Mobile
1,29159,0,16,3.0,18.0,E wallet,Male,3.0,4,Super,5.0,NaN,11,0.0,16,2,6,179,Mobile
2,24778,0,1,1.0,9.0,Credit Card,Male,4.0,2,Regular Plus,5.0,Single,9,0.0,14,1,2,159,Mobile
3,22432,0,7,3.0,13.0,Cash on Delivery,Male,2.0,3,Regular Plus,3.0,Married,1,1.0,25,3,7,123,Mobile
4,26149,0,4,1.0,21.0,Debit Card,Male,2.0,3,Regular Plus,2.0,Divorced,4,1.0,19,1,2,125,Mobile

In [37]:
new_df = df.drop(['AccountID'], axis= 1)

In [38]:
labels = new_df['Churn']
customers = new_df.drop('Churn', axis='columns')

In [39]:
customers.head(10)

,Tenure,City_Tier,CC_Contacted_LY,Payment,Gender,Service_Score,Account_user_count,account_segment,CC_Agent_Score,Marital_Status,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,cashback,Login_device
0,4,1.0,11.0,Debit Card,Female,3.0,6,Super,1.0,Single,5,0.0,23,2,3,187,Mobile
1,16,3.0,18.0,E wallet,Male,3.0,4,Super,5.0,NaN,11,0.0,16,2,6,179,Mobile
2,1,1.0,9.0,Credit Card,Male,4.0,2,Regular Plus,5.0,Single,9,0.0,14,1,2,159,Mobile
3,7,3.0,13.0,Cash on Delivery,Male,2.0,3,Regular Plus,3.0,Married,1,1.0,25,3,7,123,Mobile
4,4,1.0,21.0,Debit Card,Male,2.0,3,Regular Plus,2.0,Divorced,4,1.0,19,1,2,125,Mobile
5,0,1.0,16.0,Credit Card,Male,2.0,3,Regular Plus,3.0,Single,2,1.0,11,0,1,110,Mobile
6,28,3.0,11.0,Debit Card,Female,3.0,5,HNI,3.0,Married,137,0.0,13,7,1,238,Mobile
7,17,1.0,26.0,Debit Card,Male,2.0,3,Regular Plus,4.0,Single,2,0.0,13,1,3,134,Mobile
8,29,1.0,28.0,Credit Card,Male,4.0,2,Regular,4.0,Single,13,0.0,12,3,16,NaN,Mobile
9,27,1.0,10.0,Credit Card,Male,3.0,4,Super Plus,3.0,Divorced,5,1.0,17,1,4,301,Mobile

In [40]:
customers.shape

(9008, 17)

In [41]:
labels.head()

0    0
1    0
2    0
3    0
4    0
Name: Churn, dtype: int64

In [42]:
labels.shape

(9008,)

In [43]:
customers.describe()

,City_Tier,CC_Contacted_LY,Service_Score,CC_Agent_Score,Complain_ly
count,8913.000000,8922.000000,8932.000000,8918.000000,8713.000000
mean,1.650623,17.861018,2.901142,3.054160,0.281992
std,0.914061,8.780792,0.722629,1.383056,0.449995
min,1.000000,4.000000,0.000000,1.000000,0.000000
25%,1.000000,11.000000,2.000000,2.000000,0.000000
50%,1.000000,16.000000,3.000000,3.000000,0.000000
75%,3.000000,23.000000,3.000000,4.000000,1.000000
max,3.000000,129.000000,5.000000,5.000000,1.000000

In [44]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9008 entries, 0 to 9007
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Tenure                   8931 non-null   object
 1   City_Tier                8913 non-null   float64
 2   CC_Contacted_LY          8922 non-null   float64
 3   Payment                  8917 non-null   object
 4   Gender                   8924 non-null   object
 5   Service_Score            8932 non-null   float64
 6   Account_user_count       8923 non-null   object
 7   account_segment          8937 non-null   object
 8   CC_Agent_Score           8918 non-null   float64
 9   Marital_Status           8836 non-null   object
 10  rev_per_month            8930 non-null   object
 11  Complain_ly              8713 non-null   float64
 12  rev_growth_yoy           9008 non-null   object
 13  coupon_used_for_payment  9008 non-null   object
 14  Day_Since_CC_connect     8726 non-null   object
 15  cashback                 8630 non-null   object
 16  Login_device             8835 non-null   object
dtypes: float64(5), object(12)
memory usage: 1.2+ MB

3. Missing and Inconsistent value treament

3.2. Inconsistent value treament

In [45]:
customers['Gender'] = customers['Gender'].replace('F', 'Female')
customers['Gender'] = customers['Gender'].replace('M', 'Male')
customers['account_segment'] = customers['account_segment'].replace('Super +', 'Super Plus')
customers['account_segment'] = customers['account_segment'].replace('Regular +', 'Regular Plus')

3.1. Replace specific character to NaN

In [46]:
customers['Tenure'] = customers['Tenure'].replace('#', np.nan)
customers['Account_user_count'] = customers['Account_user_count'].replace('@', np.nan)
customers['rev_per_month'] = customers['rev_per_month'].replace('+', np.nan)
customers['rev_growth_yoy'] = customers['rev_growth_yoy'].replace('$', np.nan)
customers['coupon_used_for_payment'] = customers['coupon_used_for_payment'].replace('#', np.nan)
customers['coupon_used_for_payment'] = customers['coupon_used_for_payment'].replace('$', np.nan)
customers['coupon_used_for_payment'] = customers['coupon_used_for_payment'].replace('*', np.nan)
customers['cashback'] = customers['cashback'].replace('$', np.nan)
customers['Day_Since_CC_connect'] = customers['Day_Since_CC_connect'].replace('$', np.nan)
customers['Login_device'] = customers['Login_device'].replace('&&&&', 'Unknown')

In [47]:
customers.isnull().sum()

Tenure                     169
City_Tier                   95
CC_Contacted_LY             86
Payment                     91
Gender                      84
Service_Score               76
Account_user_count         347
account_segment             71
CC_Agent_Score              90
Marital_Status             172
rev_per_month              635
Complain_ly                295
rev_growth_yoy               3
coupon_used_for_payment      2
Day_Since_CC_connect       283
cashback                   379
Login_device               173
dtype: int64

In [48]:
customers.columns

Index(['Tenure', 'City_Tier', 'CC_Contacted_LY', 'Payment', 'Gender',
       'Service_Score', 'Account_user_count', 'account_segment',
       'CC_Agent_Score', 'Marital_Status', 'rev_per_month', 'Complain_ly',
       'rev_growth_yoy', 'coupon_used_for_payment', 'Day_Since_CC_connect',
       'cashback', 'Login_device'],
      dtype='object')

In [49]:
missing_value_cols = ['Tenure', 'City_Tier', 'CC_Contacted_LY', 'Payment','Gender', 'Service_Score', 'Account_user_count', 'account_segment','CC_Agent_Score', 'Marital_Status', 'rev_per_month', 'Complain_ly','rev_growth_yoy', 'coupon_used_for_payment', 'Day_Since_CC_connect', 'cashback', 'Login_device']

In [50]:
_imputer = SimpleImputer(strategy="most_frequent")

In [51]:
customers[missing_value_cols] = _imputer.fit_transform(customers[missing_value_cols])

In [52]:
customers.isnull().sum()

Tenure                     0
City_Tier                  0
CC_Contacted_LY            0
Payment                    0
Gender                     0
Service_Score              0
Account_user_count         0
account_segment            0
CC_Agent_Score             0
Marital_Status             0
rev_per_month              0
Complain_ly                0
rev_growth_yoy             0
coupon_used_for_payment    0
Day_Since_CC_connect       0
cashback                   0
Login_device               0
dtype: int64

4. Wrong datatype treament

In [53]:
for column in customers.columns: 
    print(f'{column}: {customers[column].unique()}')

Tenure: ['4' '16' '1' '7' '0' '28' '17' '29' '27' '11' '13' '9' '8' '15' '5' '24'
 '12' '10' '30' '3' '99' '6' '18' '25' '2' '14' '23' '20' '19' '26' '22'
 '31' '21' '51' '50' '61']
City_Tier: [1.0 3.0 2.0]
CC_Contacted_LY: [11.0 18.0 9.0 13.0 21.0 16.0 26.0 28.0 10.0 14.0 36.0 34.0 17.0 20.0 25.0
 27.0 41.0 12.0 33.0 29.0 35.0 8.0 15.0 32.0 30.0 22.0 6.0 19.0 37.0 23.0
 31.0 39.0 24.0 7.0 42.0 5.0 40.0 38.0 43.0 127.0 4.0 129.0]
Payment: ['Debit Card' 'E wallet' 'Credit Card' 'Cash on Delivery' 'UPI']
Gender: ['Female' 'Male']
Service_Score: [3.0 4.0 2.0 1.0 5.0 0.0]
Account_user_count: ['6' '4' '2' '3' '5' '1']
account_segment: ['Super' 'Regular Plus' 'HNI' 'Regular' 'Super Plus']
CC_Agent_Score: [1.0 5.0 3.0 2.0 4.0]
Marital_Status: ['Single' 'Married' 'Divorced']
rev_per_month: ['5' '11' '9' '1' '4' '2' '137' '13' '8' '12' '3' '7' '6' '10' '134' '136'
 '15' '138' '107' '108' '14' '131' '105' '120' '127' '123' '129' '140'
 '133' '126' '124' '21' '113' '102' '119' '22' '117' '100' '121' '118'
 '20' '139' '122' '115' '101' '110' '130' '116' '103' '125' '114' '19'
 '111' '23']
Complain_ly: [0.0 1.0]
rev_growth_yoy: ['23' '16' '14' '25' '19' '11' '13' '12' '17' '18' '15' '22' '24' '20'
 '21' '27' '26' '28' '4']
coupon_used_for_payment: ['2' '1' '3' '0' '7' '4' '8' '16' '6' '5' '9' '11' '14' '10' '13' '12'
 '15']
Day_Since_CC_connect: ['3' '6' '2' '7' '1' '16' '4' '0' '8' '5' '11' '9' '10' '31' '12' '18'
 '13' '17' '15' '14' '46' '30' '47']
cashback: ['187' '179' '159' '123' '125' '110' '238' '134' '148' '301' '124' '174'
 '168' '176' '131' '166' '172' '198' '127' '157' '167' '297' '208' '128'
 '150' '218' '142' '205' '163' '181' '190' '175' '295' '154' '156' '225'
 '145' '147' '146' '160' '306' '139' '151' '161' '136' '320' '193' '140'
 '135' '153' '126' '129' '276' '197' '202' '186' '155' '252' '183' '171'
 '217' '169' '158' '120' '203' '184' '321' '199' '152' '298' '211' '316'
 '177' '116' '149' '270' '170' '5' '282' '300' '143' '317' '121' '215'
 '196' '206' '250' '277' '242' '284' '141' '216' '122' '192' '144' '182'
 '293' '294' '1840' '194' '173' '244' '307' '313' '258' '1929' '260' '165'
 '237' '162' '292' '327' '200' '221' '130' '278' '212' '188' '1951' '185'
 '230' '231' '269' '266' '240' '178' '323' '265' '115' '180' '279' '262'
 '246' '209' '254' '322' '232' '290' '189' '214' '207' '263' '137' '304'
 '223' '226' '119' '256' '328' '1817' '133' '235' '164' '1877' '210'
 '1917' '138' '25' '201' '132' '220' '234' '245' '310' '273' '261' '289'
 '248' '1958' '288' '267' '239' '305' '281' '236' '314' '1963' '291' '247'
 '191' '228' '274' '114' '302' '271' '1865' '319' '222' '195' '280' '272'
 '268' '111' '286' '227' '213' '312' '285' '303' '229' '219' '257' '204'
 '296' '308' '264' '287' '241' '253' '1961' '1916' '1967' '1925' '1813'
 '299' '326' '1971' '112' '283' '113' '1908' '259' '224' '311' '1978'
 '243' '1896' '318' '315' '1979' '1965' '233' '118' '325' '1894' '1955'
 '1803' '249' '117' '275' '1991' '1843' '1833' '4' '1800' '329' '309'
 '1944' '1839' '1869' '0' '1914' '1907' '1934' '331' '324' '28' '1880' '2'
 '1954' '1941' '251' '1918' '1919' '1878' '1850' '1824' '3' '1911' '1844'
 '1882' '1862' '30' '1937' '1923' '1879' '1807' '1957' '1835' '1943'
 '1982' '37' '1964' '1984' '1838' '41' '1866' '81' '1913' '1804' '255'
 '56' '1888' '1895' '1912' '1921' '1853' '1945' '1972' '1858' '1928'
 '1953' '57']
Login_device: ['Mobile' 'Computer' 'Unknown']

In [54]:
customers.dtypes

Tenure                     object
City_Tier                  object
CC_Contacted_LY            object
Payment                    object
Gender                     object
Service_Score              object
Account_user_count         object
account_segment            object
CC_Agent_Score             object
Marital_Status             object
rev_per_month              object
Complain_ly                object
rev_growth_yoy             object
coupon_used_for_payment    object
Day_Since_CC_connect       object
cashback                   object
Login_device               object
dtype: object

In [55]:
to_numeric_cols = ['Tenure', 'CC_Contacted_LY', 'Service_Score', 'Account_user_count','CC_Agent_Score', 'rev_per_month', 'Complain_ly','rev_growth_yoy', 'coupon_used_for_payment', 'Day_Since_CC_connect','cashback']

In [56]:
for col in to_numeric_cols:
    customers[col] = pd.to_numeric(customers[col])

In [57]:
customers.dtypes

Tenure                       int64
City_Tier                   object
CC_Contacted_LY            float64
Payment                     object
Gender                      object
Service_Score              float64
Account_user_count           int64
account_segment             object
CC_Agent_Score             float64
Marital_Status              object
rev_per_month                int64
Complain_ly                float64
rev_growth_yoy               int64
coupon_used_for_payment      int64
Day_Since_CC_connect         int64
cashback                     int64
Login_device                object
dtype: object

5. One-hot encoding

In [58]:
to_categorical_cols = ['Payment', 'City_Tier', 'Gender', 'account_segment', 'Marital_Status', 'Login_device']

In [59]:
customers = pd.get_dummies(customers, prefix=to_categorical_cols)

C:\Users\daman\AppData\Local\Temp\ipykernel_6496\1033039022.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  customers = pd.get_dummies(customers, prefix=to_categorical_cols)

In [60]:
customers.head()

,Tenure,CC_Contacted_LY,Service_Score,Account_user_count,CC_Agent_Score,rev_per_month,Complain_ly,rev_growth_yoy,coupon_used_for_payment,Day_Since_CC_connect,...,account_segment_Regular,account_segment_Regular Plus,account_segment_Super,account_segment_Super Plus,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single,Login_device_Computer,Login_device_Mobile,Login_device_Unknown
0,4,11.0,3.0,6,1.0,5,0.0,23,2,3,...,0,0,1,0,0,0,1,0,1,0
1,16,18.0,3.0,4,5.0,11,0.0,16,2,6,...,0,0,1,0,0,1,0,0,1,0
2,1,9.0,4.0,2,5.0,9,0.0,14,1,2,...,0,1,0,0,0,0,1,0,1,0
3,7,13.0,2.0,3,3.0,1,1.0,25,3,7,...,0,1,0,0,0,1,0,0,1,0
4,4,21.0,2.0,3,2.0,4,1.0,19,1,2,...,0,1,0,0,1,0,0,0,1,0

In [61]:
customers_train, customers_val, labels_train, labels_val = train_test_split(customers, labels, test_size= 0.2, random_state=42, stratify=labels)

6. Train model

In [62]:
from sklearn.tree import DecisionTreeClassifier

In [63]:
decision_tree_model = DecisionTreeClassifier()
decision_tree_model.fit(customers_train, labels_train)

DecisionTreeClassifier()

In [64]:
pred_train = decision_tree_model.predict(customers_train)
pred_val = decision_tree_model.predict(customers_val)

In [65]:
from sklearn.metrics import recall_score, accuracy_score, precision_score, f1_score
print("Accuracy", accuracy_score(labels_val, pred_val))
print("Precision", precision_score(labels_val, pred_val))
print("Recall", recall_score(labels_val, pred_val))
print("F1", f1_score(labels_val, pred_val))

Accuracy 0.9483906770255272
Precision 0.8365384615384616
Recall 0.8613861386138614
F1 0.848780487804878